/*修改工具箱的样式--*/
.skin_black .hold-all-box {
  width: 3.2rem;
  position: absolute;
  left: 50%;
  top: .51rem;
  transform: translateX(-50%);
  padding: .2rem 0 0 .3rem;
  background:rgba(31,32,39,0.96);
  box-sizing: content-box;
  border-radius: 0.24rem;
  z-index: 1000;
  border:1px solid rgba(44,44,48,1);
}

.skin_black .hold-all-box::after {
  content: "";
  display: block;
  position: absolute;
  top: -0.065rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.2rem;
  height: 0.07rem;
  background-image: url('../../../../../../../../publish/img/black/common/jiantou@2x.png');
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdItemBox {
  overflow: hidden;
  width: 100%;
}

.skin_black .hold-all-box .holdAllitem {
  width: 50%;
  height: .4rem;
  float: left;
  color: #fff;
  margin-bottom: .2rem;
  cursor: pointer;
}

.skin_black .hold-all-box .holdAllitem div {
  margin-right: .3rem;
  overflow: hidden;
}

.skin_black .hold-all-box .holdAllitem div:hover {
  background: rgba(0, 0, 0, .4);
  border-radius: .31rem;
  color: #0077FF;
}

.skin_black .hold-all-box .holdAllitem div:active {
  background: rgba(0, 0, 0, .4);
  border-radius: .31rem;
  color: #036FEB;
}

.skin_black .hold-all-box .holdAllitem.disabled{
  cursor: default;
}
.skin_black .hold-all-box .holdAllitem.disabled span {
  opacity: .3;
}

.skin_black .hold-all-box .holdAllitem button {
  width: .4rem;
  height: .4rem;
  float: left;
}

.skin_black .hold-all-box .holdAllitem span {
  display: block; 
  height: 100%;
  text-align: left;
  line-height: .4rem;
  margin-left: .46rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skin_black .hold-all-box.hold-all-box-student {
  width: auto;
}
.skin_black .hold-all-box.hold-all-box-student .holdAllitem {
  width: 100%;
}

/* 工具箱按钮各状态显示 */
.skin_black .hold-all-box .holdAllitem .answerBtn {
  background: url('../img/holdArr_black/answer_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .answerBtn {
  background: url('../img/holdArr_black/answer_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .answerBtn {
  background: url('../img/holdArr_black/answer_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .answerBtn {
  background: url('../img/holdArr_black/answer_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .turnplateBtn {
  background: url('../img/holdArr_black/turnplate_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .turnplateBtn {
  background: url('../img/holdArr_black/turnplate_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .turnplateBtn {
  background: url('../img/holdArr_black/turnplate_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .turnplateBtn {
  background: url('../img/holdArr_black/turnplate_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .timerBtn {
  background: url('../img/holdArr_black/timer_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .timerBtn {
  background: url('../img/holdArr_black/timer_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .timerBtn {
  background: url('../img/holdArr_black/timer_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .timerBtn {
  background: url('../img/holdArr_black/timer_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .qrCodeBtn {
  background: url('../img/holdArr_black/qrCode_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .qrCodeBtn {
  background: url('../img/holdArr_black/qrCode_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .qrCodeBtn {
  background: url('../img/holdArr_black/qrCode_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .qrCodeBtn {
  background: url('../img/holdArr_black/qrCode_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .responderBtn {
  background: url('../img/holdArr_black/responder_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .responderBtn {
  background: url('../img/holdArr_black/responder_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .responderBtn {
  background: url('../img/holdArr_black/responder_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .responderBtn {
  background: url('../img/holdArr_black/responder_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .sharingBtn {
  background: url('../img/holdArr_black/sharing_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .sharingBtn {
  background: url('../img/holdArr_black/sharing_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .sharingBtn {
  background: url('../img/holdArr_black/sharing_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .sharingBtn {
  background: url('../img/holdArr_black/sharing_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .blackboardBtn {
  background: url('../img/holdArr_black/blackboard_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .blackboardBtn {
  background: url('../img/holdArr_black/blackboard_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .blackboardBtn {
  background: url('../img/holdArr_black/blackboard_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .blackboardBtn {
  background: url('../img/holdArr_black/blackboard_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .movieShareBtn {
  background: url('../img/holdArr_black/movie_share_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .movieShareBtn {
  background: url('../img/holdArr_black/movie_share_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .movieShareBtn {
  background: url('../img/holdArr_black/movie_share_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .movieShareBtn {
  background: url('../img/holdArr_black/movie_share_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .smallCaptureBtn {
  background: url('../img/holdArr_black/smallCaptrue_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .smallCaptureBtn {
  background: url('../img/holdArr_black/smallCaptrue_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .smallCaptureBtn {
  background: url('../img/holdArr_black/smallCaptrue_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .smallCaptureBtn {
  background: url('../img/holdArr_black/smallCaptrue_disable.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem .allCaptureBtn {
  background: url('../img/holdArr_black/allCaptrue_default.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:hover .allCaptureBtn {
  background: url('../img/holdArr_black/allCaptrue_hover.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem div:active .allCaptureBtn {
  background: url('../img/holdArr_black/allCaptrue_press.png') no-repeat center center;
  background-size: 100% 100%;
}

.skin_black .hold-all-box .holdAllitem.disabled .allCaptureBtn {
  background: url('../img/holdArr_black/allCaptrue_disable.png') no-repeat center center;
  background-size: 100% 100%;
}
