@charset "UTF-8";
.tk-select-container{
    position: relative;
    border:0.01rem solid #DDD;
    z-index: 1;
}
.app-mobile.tk-select-container.showExtendList{
    pointer-events: none ;
    cursor: default ;
}
.tk-select-container.disabled , .current-select-text.disabled {
    pointer-events: none !important;
    cursor: default !important;
}
.current-select-text {
    width:100% ;
    max-width: 5rem;
    height: 100%;
    display: block;
    cursor: default;
    padding-top: 0.08rem;
    position: relative;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}
.arrow-container{
    width: 0.2rem;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.arrow-container .arrow{
    position: absolute;
    width: 0.2rem;
    height:0.2rem;
    right:0.15rem;
    top: 0.14rem;
}
.tk-select-container .arrow-container .arrow{
    transform: rotate(0);
}
.tk-select-container.showExtendList .arrow-container .arrow{
    margin-top: 0;
}

.arrow-container .arrow:after{
    position: absolute;
    content: '';
    left: 0;
    top: calc(50% - 0.05rem);
    font-size: 0;
    line-height: 0;
    border-width: 0.1rem;
    border-color: #ffffff;
    border-top-width: 0;
    border-style: none;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
}
.arrow-container.disabled .arrow:after{
     border-color: rgba(105, 104, 104, 0.87);
     border-top-width: 0;
     border-style: none;
     border-bottom-style: solid;
     border-left-color: transparent;
     border-right-color: transparent;
 }
.select-extend-list-container-box{
    position: absolute;
    left: 0;
    top: 100%;
}
.select-extend-list-container{
    display: block;
    position: static;
    /* left: 0;
    top: 100%; */
    max-height: calc(5 * 0.5rem);
    height: auto;
    width: 100%;
    background: rgba(41, 41, 41, 0.81);
}
.select-extend-list-container.up{
    top: auto;
    bottom: 100%;
}
.select-extend-list-container.down{
    top: 100%;
    bottom: auto;
}
.select-extend-list-container .select-option{
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    display: block;
}

.select-extend-list-container .select-option.selected{
    background: none;
}
/*---清除浮动----*/
.clear-float:after,.clear-float:before{
    content:"";
    display: block;
    /*box-sizing: content-box;*/
    height: 0;
    visibility: hidden;
}

.clear-float:after{
    clear: both;
    visibility: hidden;
    height: 0;
}

.clear-float{
    zoom: 1;
}