.skin_beyond_default #beyond_tools{
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 98;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container{
    width: 0.48rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    border-radius: 0.06rem;
    z-index: 110;
    /* border: 0.01rem solid rgba(24,17,57,0.5);
    background: rgba(24,17,57,0.5); */
    border: 0.01rem solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option{
    width: 0.4rem;
    height: 0.36rem;
    margin: 0.14rem 0.03rem;
    border-radius: 0.02rem;
    cursor: pointer;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .icon{
    display: block;
    width: 100%;
    height: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option:hover,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.active{
    background: rgba(0, 0, 0, 0.67);
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option:after{
    display: none;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.icon:hover{
    background: none;
    background-image: url('./imgs/default/default/tools@2x.png');
    background-repeat: no-repeat;
    background-size: 0.37rem 0.1rem;
    background-position: center;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.icon {
    height: 0.25rem;
    background-image: url('./imgs/default/default/tools@2x.png');
    background-repeat: no-repeat;
    background-size: 0.37rem 0.1rem;
    background-position: center;
    width: 100%;
    border-bottom: 0.01rem solid rgba(121,92,191,0.2);
    margin: 0;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.icon-show {
    height: 0.32rem;
    width: 100%;
    background: url("./imgs/default/default/down.png") no-repeat center center;
    background-size: 0.13rem 0.07rem;
    margin: 0;
    padding: 0;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.icon-show.show {
    height: 0.32rem;
    width: 0.36rem;
    margin: 0 0.05rem;
    background: url("./imgs/default/default/tools_up_default@2x.png") no-repeat center center;
    background-size: 0.13rem 0.07rem;
    border-top: 1px solid rgba(255,255,255,0.3);
}
/* 主工具样式 */
/* 鼠标 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_mouse .icon{
    background: url("./imgs/default/default/mouse_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_mouse.active .icon{
    background: url("./imgs/default/active/mouse_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 激光笔 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_laser .icon{
    background: url("./imgs/default/default/jiguang_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_laser.active .icon{
    background: url("./imgs/default/active/jiguang_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 画笔 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_pencil .icon{
    background: url("./imgs/default/default/pen_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_pencil.active .icon{
    background: url("./imgs/default/active/pen_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_highlighter .icon{
    background: url("./imgs/default/default/yingguangbi_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_highlighter.active .icon{
    background: url("./imgs/default/active/yingguangbi_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_line .icon{
    background: url("./imgs/default/default/line_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_line.active .icon{
    background: url("./imgs/default/active/line_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_arrow .icon{
    background: url("./imgs/default/default/jiantou_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.tool_arrow.active .icon{
    background: url("./imgs/default/active/jiantou_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 文字 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text .icon{
    background: url("./imgs/default/default/text_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .icon{
    background: url("./imgs/default/active/text_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .tool-pen-list-extend .font-container .font-content-container  .font-family-container .font-family-option.active,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .tool-pen-list-extend .font-container .font-content-container  .font-family-container .font-family-option.active:hover,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .tool-pen-list-extend .font-container .font-content-container  .font-size-container .font-size-list .font-size-option.active{
    background-color: rgba(0,0,0,0);
    color: #FFDC54;
    border-color: #FFDC54;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .tool-pen-list-extend .font-container .font-content-container  .font-family-container .font-family-option,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .tool-pen-list-extend .font-container .font-content-container  .font-size-container .font-size-list .font-size-option{
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .tool-pen-list-extend .font-container .font-content-container  .font-family-container .font-family-option:hover,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active .tool-pen-list-extend .font-container .font-content-container  .font-size-container .font-size-list .font-size-option:hover{
    background-color: transparent;
    color: #DCCFFF;
    border-color: #DCCFFF;
}
/* 图形 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_rectangle_empty .icon{
    background: url("./imgs/default/default/kongxinjuxing_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_rectangle_empty.active .icon{
    background: url("./imgs/default/active/kongxinjuxing_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_rectangle .icon{
    background: url("./imgs/default/default/shixinjuxing_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_rectangle.active .icon{
    background: url("./imgs/default/active/shixinjuxing_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_ellipse_empty .icon{
    background: url("./imgs/default/default/kongxinyuan_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_ellipse_empty.active .icon{
    background: url("./imgs/default/active/kongxinyuan_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_ellipse .icon{
    background: url("./imgs/default/default/shixinyuan_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.tool_ellipse.active .icon{
    background: url("./imgs/default/active/shixinyuan_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 橡皮 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_eraser .icon{
    background: url("./imgs/default/default/xiangpi_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_eraser.active .icon{
    background: url("./imgs/default/active/xiangpi_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_eraser.disabled .icon{
    background: url("./imgs/default/disable/xiangpi_disable@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 撤销 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_undo .icon{
    background: url("./imgs/default/default/back_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_undo.active .icon{
    background: url("./imgs/default/active/back_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_undo.disabled .icon{
    background: url("./imgs/default/disable/back_disable@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 恢复 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_redo .icon{
    background: url("./imgs/default/default/before_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_redo.active .icon{
    background: url("./imgs/default/active/before_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_redo.disabled .icon{
    background: url("./imgs/default/disable/before_disable@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 清屏 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_clear .icon{
    background: url("./imgs/default/default/delete_default@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_clear.active .icon{
    background: url("./imgs/default/active/delete_selected@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_clear.disabled .icon{
    background: url("./imgs/default/disable/delete_disable@2x.png") no-repeat center center;
    background-size: 0.22rem;
}
/* 选框 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend{
    position: absolute;
    top: 0.8rem;
    left: calc(-3.28rem + -0.2rem);
    width: 3.28rem;
    border-radius: .24rem;
    overflow: unset;
    transform: translateY(-50%);
    background: rgba(24,17,57,.5);
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend.student{
    top: 1.2rem;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-eraser-list-extend{
    position: absolute;
    top: 0.2rem;
    left: calc(-3.28rem + -0.2rem);
    width: 3.28rem;
    border-radius: .24rem;
    overflow: unset;
    transform: translateY(-50%);
    background: rgba(24,17,57,.5);
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-eraser-list-extend::after{
    content: '';
    display: block;
    width: 0.07rem;
    height: 0.2rem;
    position: absolute;
    right: -0.063rem;
    top: 50%;
    transform: translateY(-50%);
    background: url("./imgs/black/jiantou@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend::after,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend::after {
    content: '';
    display: block;
    width: 0.07rem;
    height: 0.2rem;
    position: absolute;
    right: -0.07rem;
    top: 30%;
    transform: translateY(-50%);
    background: url("./imgs/default/jiantou@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend.student::after{
    top: 18%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list .tool-pen-container  ,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text .font-container  ,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list .tool-shape-container{
    display: flex;
    justify-content: space-around;
    height: .52rem;
    width: 100%;
    background: none;
    background-image: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list .tool-slider,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text .tool-slider,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list .tool-slider,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_eraser .tool-slider{
    height: 0.45rem;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.pen-list .color-picker,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.tool_text .color-picker,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option.shape-list .color-picker{
    z-index:999999;
    /* position: absolute; */
    display: flex;
    top:0;left:0;
    padding: .13rem;
    background:none;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .pen-option .tool_pencil,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .pen-option .tool_highlighter  ,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .pen-option .tool_line,
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .pen-option .tool_arrow{
    width: 0.22rem;
    height: 0.22rem;
}
#beyond_tools .whiteboard-tool-list-container .tool-option.tool_eraser .tool-pen-list-extend{
    top: 0.18rem;
    border-radius: 0.18rem;
}
/* 画笔 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_pencil .pen-icon{
    background: url("./imgs/default/default/pen_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_pencil:hover .pen-icon{
    background: url("./imgs/default/hover/pen_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_pencil.active .pen-icon{
    background: url("./imgs/default/active/pen_selected@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_highlighter .pen-icon{
    background: url("./imgs/default/default/yingguangbi_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_highlighter:hover .pen-icon{
    background: url("./imgs/default/hover/yingguangbi_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_highlighter.active .pen-icon{
    background: url("./imgs/default/active/yingguangbi_selected@2x.png") no-repeat center center;
    background-size: 100%;
}

.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_line .pen-icon{
    background: url("./imgs/default/default/line_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_line:hover .pen-icon{
    background: url("./imgs/default/hover/line_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_line.active .pen-icon{
    background: url("./imgs/default/active/line_selected@2x.png") no-repeat center center;
    background-size: 100%;
}

.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_arrow .pen-icon{
    background: url("./imgs/default/default/jiantou_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_arrow:hover .pen-icon{
    background: url("./imgs/default/hover/jiantou_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .tool-pen-container .pen-option.tool_arrow.active .pen-icon{
    background: url("./imgs/default/active/jiantou_selected@2x.png") no-repeat center center;
    background-size: 100%;
}
/* .skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-pen-list-extend .color-picker{
    padding: 0 0.13rem;
} */
/* 图形 */
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_rectangle_empty .shape-icon{
    background: url("./imgs/default/default/kongxinjuxing_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_rectangle_empty:hover .shape-icon{
    background: url("./imgs/default/hover/kongxinjuxing_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_rectangle_empty.active .shape-icon{
    background: url("./imgs/default/active/kongxinjuxing_selected@2x.png") no-repeat center center;
    background-size: 100%;
}

.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_rectangle .shape-icon{
    background: url("./imgs/default/default/shixinjuxing_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_rectangle:hover .shape-icon{
    background: url("./imgs/default/hover/shixinjuxing_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_rectangle.active .shape-icon{
    background: url("./imgs/default/active/shixinjuxing_selected@2x.png") no-repeat center center;
    background-size: 100%;
}

.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_ellipse_empty .shape-icon{
    background: url("./imgs/default/default/kongxinyuan_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_ellipse_empty:hover .shape-icon{
    background: url("./imgs/default/hover/kongxinyuan_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_ellipse_empty.active .shape-icon{
    background: url("./imgs/default/active/kongxinyuan_selected@2x.png") no-repeat center center;
    background-size: 100%;
}

.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_ellipse .shape-icon{
    background: url("./imgs/default/default/shixinyuan_default@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_ellipse:hover .shape-icon{
    background: url("./imgs/default/hover/shixinyuan_hover@2x.png") no-repeat center center;
    background-size: 100%;
}
.skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .tool-shape-container .shape-option.tool_ellipse.active .shape-icon{
    background: url("./imgs/default/active/shixinyuan_selected@2x.png") no-repeat center center;
    background-size: 100%;
}
/* .skin_beyond_default #beyond_tools .whiteboard-tool-list-container .tool-option .tool-shape-list-extend .color-picker{
    padding: 0 0.13rem;
} */

/* 小三角 */
#beyond_tools .whiteboard-tool-list-container .tool-option.pen-list::after,
#beyond_tools .whiteboard-tool-list-container .tool-option.tool_text::after,
#beyond_tools .whiteboard-tool-list-container .tool-option.shape-list::after,
#beyond_tools .whiteboard-tool-list-container .tool-option.tool_eraser::after{
    content: '';
    display: block;
    width: 0.05rem;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
    background: url("./imgs/default/default/more_default@2x.png") no-repeat center center;
    background-size: 100%;
}
#beyond_tools .whiteboard-tool-list-container .tool-option.pen-list.active::after,
#beyond_tools .whiteboard-tool-list-container .tool-option.tool_text.active::after,
#beyond_tools .whiteboard-tool-list-container .tool-option.shape-list.active::after,
#beyond_tools .whiteboard-tool-list-container .tool-option.tool_eraser.active::after{
    content: '';
    display: block;
    width: 0.05rem;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
    background: url("./imgs/default/active/more_selected@2x.png") no-repeat center center;
    background-size: 100%;
}